Localization
{
	en
	{
		/// RADIATORS
		
		#LOC_FNSR_NDA = Nyx Development Administration (NDA)
		#LOC_EMP43KMega = EMP-43K Microchannel Graphene Radiator
		#LOC_EMP43KMegaDesc = It was created just for the fun of it. Someone in our department wondered: could we make a ship radiator even bigger? They were immediately dismissed as crazy—since there was simply no room to go any bigger—but the head of the design department was cut from the same cloth; driven by curiosity, he went ahead and built a few of them. "Awesome!" they thought, only to realize later that they had no idea what to do with them. If you can come up with a ship that actually needs one, then hats off to you.
	
		#LOC_EMP22K = EMP-22K Microchannel Graphene Radiator
		#LOC_EMP22KDesc = The obsession of Kerbin's scientists is growing! The engineers are terrified, yet they press on. Please sign the liability waiver, as we can't say for sure if it will actually work. No refunds!
	
		#LOC_THICK = EMP-2K Radiator Panel
		#LOC_THICKDesc = Square radiator. This is a corrected version that prevents long radiators from overlapping each other.
	
		#LOC_EMP11K = EMP-11K Microchannel Graphene Radiator
		#LOC_EMP11KDesc = This is a very large radiator. It is one of our best-selling products for those looking to conquer planets and stars. In terms of sales volume, it ranks just behind the EMP-22K—which, truth be told, isn't the most reliable unit. Both radiators are a perfect fit for our customers, leaving them well-satisfied.
	
		#LOC_EMP5K = EMP-5K Microchannel Graphene Radiator
		#LOC_EMP5KDesc = This was the very first product and at one time the best-selling one from our new extraction corporation that we called "NDA". It is now obsolete, and orders have become very rare these days; however, if you need it, you can purchase a license.
	
		/// STRUCTURAL TRUSSES
	
		#LOC_LT0_25 = Part of Conical Truss NLT-0.25
		#LOC_LT0_25Desc = The design department received a new request to make it wider. We stated that this would be the last time we did such a thing, and we started selling it as well. If you order it, you will receive all the other parts too.
		
		#LOC_LT0_5 = Part of Conical Truss NLT-0.5
		#LOC_LT0_5Desc = An anonymous client wrote to the design department demanding a version that was wider in diameter rather than longer. Without a second thought, we started selling that too. If you order it, you will receive all the other parts too.
		
		#LOC_LT2 = Part of Conical Truss NLT-2
		#LOC_LT2Desc = Item №2: The Conical Lattice Truss (CLT). This is NDA’s first product in the field of structural trusses. Ordering this item ensures that all the other components are included too.
	
		#LOC_LT3 = Part of Conical Truss NLT-3
		#LOC_LT3Desc = Item №3: The Conical Lattice Truss (CLT). If you order this, all the other parts will be included too.
	
		#LOC_LT5 = Part of Conical Truss NLT-5
		#LOC_LT5Desc = Item №5: The Conical Lattice Truss (CLT). If you order this, all the other parts will be included too.
	
		#LOC_LT10 = Part of Conical Truss NLT-10
		#LOC_LT10Desc = Item №10: The Conical Lattice Truss (CLT). If you order this, all the other parts will be included too.
	
		#LOC_LT20 = Part of Conical Truss NLT-20
		#LOC_LT20Desc = Item №20: The Conical Lattice Truss (CLT). If you order this, all the other parts will be included too.
	
		#LOC_LT30 = Part of Conical Truss NLT-30
		#LOC_LT30Desc = Item №30: Conical Lattice Truss (CLT). Ordering this item ensures you receive all the other parts too. DEVELOPER'S NOTE: Longer variations of this component may cause issues when attaching it to a node.
	
		#LOC_LT50 = Part of Conical Truss NLT-50
		#LOC_LT50Desc = Item №50: The Conical Lattice Truss (CLT). If you order this, all the other parts will be included too.
	
		#LOC_LT100 = Part of Conical Truss NLT-100
		#LOC_LT100Desc = Item №100: The Conical Lattice Truss (CLT). This is its final section—the tip. Engineers put a tremendous amount of work into ensuring this component could withstand the Kraken. If you order this item, all the other parts will be included too.
	
	}
}