Localization
{
	ru
	{
		/// РАДИАТОРЫ
		
		#LOC_FNSR_NDA = Администрация по научным исследованиям им. Никс (NDA)
		#LOC_EMP43KMega = Микроканальный графеновый радиатор EMP-43K
		#LOC_EMP43KMegaDesc = Этот тип радиаторов был создан забавы ради. Кое-кто внутри нашего отдела подумал: а можем ли мы сделать радиатор для корабля ещё больше? Его сразу посчитали сумасшедшим, потому что больше уже некуда, но начальник конструкторского отдела тоже был таким, и ради того чтобы утешить свой интерес он построил этот радиатор в нескольких экземплярах. "Круто!" - подумали они, но потом осознали что девать его некуда. Если вы придумаете корабль, которому он нужен - то вы настоящий молодец.
	
		#LOC_EMP22K = Микроканальный графеновый радиатор EMP-22K
		#LOC_EMP22KDesc = Одержимость учёных Кербина растёт! Инженеры боятся, но делают. Подпишите договор об отказе от ответственности, так как мы не можем сказать - заработает ли он. Кредиты не возвращаем!
	
		#LOC_THICK = Графеновая радиаторная панель EMP-2K
		#LOC_THICKDesc = Квадратный радиатор. Это исправленная версия, которая не позволяет длинным радиаторам перекрывать друг друга.
	
		#LOC_EMP11K = Микроканальный графеновый радиатор EMP-11K
		#LOC_EMP11KDesc = Это очень большой радиатор. Он является нашим почти самым продаваемым продукт для тех, кто хочет покорять планеты и звёзды. По количеству продаж уступает только EMP-22K, который по сути является не самым надёжнымю. Эти оба радиатора отлично подходят нашим клиентам по размеру, отчего они довольны.
	
		#LOC_EMP5K = Микроканальный графеновый радиатор EMP-5K
		#LOC_EMP5KDesc = Самый первый, и в своё время самый продаваемый продукт нашей новой добывающей корпорации, которую мы назвали "NDA". Он морально устарел, а заказы в нынешнее время приходили нам очень редко, так что если вам он нужен - вы можете приобрести лицензию.
	
		/// СТРУКТУРНЫЕ ФЕРМЫ
		
		#LOC_LT0_25 = Часть конусообразной РФ NLT-0.25
		#LOC_LT0_25Desc = Конструкторскому отделу поступил новый звонок сделать шире. Мы сказали что это последний раз когда такое будет, и тоже начали это продавать. Если вы заказываете её, то вам придут и все остальные части. 
		
		#LOC_LT0_5 = Часть конусообразной РФ NLT-0.5
		#LOC_LT0_5Desc = Конструкторскому отделу написал некий анонимный заказчик и потребовал сделать не длиннее, а шире диаметром. Недолго думая мы начали продавать и это. Если вы заказываете её, то вам придут и все остальные части. 
		
		#LOC_LT2 = Часть конусообразной РФ NLT-2
		#LOC_LT2Desc = Изделие №2 Конусообразной решётчатой фермы (КОРФ). Первый продукт NDA в области структурных ферм. Если вы заказываете её, то вам придут и все остальные части. 
	
		#LOC_LT3 = Часть конусообразной РФ NLT-3
		#LOC_LT3Desc = Изделие №3 Конусообразной решётчатой фермы (КОРФ). Если вы заказываете её, то вам придут и все остальные части. 
	
		#LOC_LT5 = Часть конусообразной РФ NLT-5
		#LOC_LT5Desc = Изделие №5 Конусообразной решётчатой фермы (КОРФ). Если вы заказываете её, то вам придут и все остальные части. 
	
		#LOC_LT10 = Часть конусообразной РФ NLT-10
		#LOC_LT10Desc = Изделие №10 Конусообразной решётчатой фермы (КОРФ). Если вы заказываете её, то вам придут и все остальные части. 
	
		#LOC_LT20 = Часть конусообразной РФ NLT-20
		#LOC_LT20Desc = Изделие №20 Конусообразной решётчатой фермы (КОРФ). Если вы заказываете её, то вам придут и все остальные части. 
	
		#LOC_LT30 = Часть конусообразной РФ NLT-30
		#LOC_LT30Desc = Изделие №30 Конусообразной решётчатой фермы (КОРФ). Если вы заказываете её, то вам придут и все остальные части. ЗАМЕТКА ОТ РАЗРАБОТЧИКА: Более длинные вариации этой детали могут вызывать проблемы с прикреплением на узел.
	
		#LOC_LT50 = Часть конусообразной РФ NLT-50
		#LOC_LT50Desc = Изделие №50 Конусообразной решётчатой фермы (КОРФ). Если вы заказываете её, то вам придут и все остальные части. 
	
		#LOC_LT100 = Часть конусообразной РФ NLT-100
		#LOC_LT100Desc = Изделие №100 Конусообразной решётчатой фермы (КОРФ) Это последняя её часть, наконечник. Инженеры проделали тонну работы, чтобы эта деталь не поддавалась кракену. Если вы заказываете её, то вам придут и все остальные части. 
	
	}
}	

